.all {
    background:url(../image/7598163.jpg) fixed;
    background-size: cover; margin:0 auto;
}
.all .header {}
.all .header > img {
    background:#fff; padding:5px 5px;
    width:200px; height:200px;
    border-radius:50%;
}
.all .header h1 {
    
}
.all .header p {}
.all .header .icon {}
.all .header .icon a {}
.all .header .icon a img {
    width:25px; height:25px;
}
.all .header .icon a img:nth-child(1) {}
.all .header .icon a img:nth-child(2) {}
.all .header .icon a img:nth-child(3) {}
.all .header .menu1 {} 
.all .header .menu2 {} 
.all .header .menu3 {} 
.all .main {}
.all .main .img {}
.all .main .img img {}
.all .main .img img:nth-child(1) {}
.all .main .img img:nth-child(2) {}
.all .main .title {}
.all .main .title li {}
.all .main .title li img {}
.all .main .title li .content {}
.all .main .title li .content h2 {}
.all .main .title li .content p {}
.all footer {}
.all footer address {}
.all footer address p {}